*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #e6e3e3;
}

.image__container img{
    width: 50%;
    height: 100vh;
    position: relative;
}


.form__container{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: right;
    width: 50%;
    height: 100%;
}

.kibu__logo{
    text-align: center;
    margin: 20px auto;
}

.content{
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.content h2{
    color: rgb(3, 3, 109);
    font-size: 35px;
}

.content p{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.login__box{
    position: relative;
    justify-content: center;
    width: 400px;
    height: 280px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.input__container{
    padding-top: 50px;
}

.input__container label{
    position: absolute;
    color: #000;
    font-weight: 600;
    margin: auto;
    text-align: left;
    justify-content: left;
    margin: -20px 5px;
    padding: 0;
}

.input__container input{
    position: inherit;
    padding: 5px 10px;
    width: 300px;
    outline: none;
    font-size: 20px;
    color: #000;
    border: 1px solid #c0c0c0;
    transition: 1s;
}

.input__container input:hover{
    background: rgb(199, 242, 247);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #414645;
}

.check__box{
    padding: 20px 50px;
    padding-bottom: 10px;
    margin: auto;
    text-align: left;
    font-weight: bold;
}

.check__box a{
    margin: auto;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(1, 1, 107);
}

.btn{
    width: 300px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    background: rgb(1, 1, 107);
    outline: none;
}

footer{
    text-align: center;
}

footer h3{
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
}

footer h3 a{
    text-decoration: none;
    color: rgb(1, 1, 107);
}

footer p{
    color: rgb(1, 1, 107);
    font-weight: 600;
    font-family: Arial;
    font-size: 18px;
}

@media screen and (max-width:760px) {
    body{
        position: sticky;
        display: inline-block;
    }
    .image__container img{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .form__container{
        position: absolute;
        justify-content: right;
        width: 100%;
        height: 100%;
        display: inline;
        top: 700px;
    }
}